/* 列表页专有的css */
.nav{
    /* 溢出隐藏的目的是因为前面导航栏右边部分为了让文字和左侧导航栏底部对齐，
    因此设置了line-height是大于高度的，又因为li浮动，浮动的元素是不会压住文字的
    所以sk-hd里面的文字会围绕上面的li里的a，从而导致文字会在右边 */
    overflow: hidden;
}
.sk{
    position: absolute;
    left: 190px;
    top: 40px;
    border-left: 1px solid #c81523;
    padding: 3px 0 0 14px;
}
.sk-list ul li{
    float: left;
}
.sk-list ul li a{
    display: block;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.sk-con ul li{
    float: left;
}
.sk-con ul li a{
    display: block;
    /* 当行高大于高度，文字会偏下 */
    line-height: 50px;
    padding: 0 20px;
    font-size: 14px;
}
.sk-con ul li:last-child a::after{
    content: '\e91e';
    font-family: 'icomoon';
}
.sk-bd ul li{
    /* 不加清除溢出会存在右边框被盖住了，是因为图就是290px，li盒子的宽度也是290px，C3的盒子模型加了边框也不会超过290px，所以被图压住了 */
    overflow: hidden;
    float: left;
    margin-right: 13px;
    width: 290px;
    height: 460px;
    /* 因为当鼠标移入li时，盒子会因为添加了边框而向下抖动，为了避免这个问题，可以给li原本就加一个透明的边框 */
    border: solid 1px transparent;
}
.sk-bd ul li:nth-child(4n){
    margin-right: 0;
}
.sk-bd ul li:hover{
    border: solid 1px #c81523;
}
.sk-bd ul li p{
    font-size: 14px;
}
.sk-bd .iphone-text{
    display: block;
    margin: 12px 12px;
}
.sk-bd .number{
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    margin: 0 12px;
}
.sk-bd .number-no{
    margin-left: 5px;
    text-decoration: line-through;
}
.sk-bd .sight{
    display: inline-block;
    margin-top: 5px;
    margin: 0 12px;
}
.sk-bd .iphone-pic{
    width: 110px;
    margin-bottom: 3px; 
}
.sk-bd .qiang{
    display: inline;
    height: 40px;
    width: 290px;
    background-color: #c81523;
}