/* 注册页面样式 */
.w{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 84px;
    border-bottom: 2px solid #c81523;
}
header .logo{
    /* 用margin-top会有外边距塌陷问题（因为外面一个大盒子，里面又放了一个小盒子），可以用padding */
    padding-top: 18px;
}
.registerarea{
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3{
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ededed;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}
.login{
    float: right;
    font-size: 14px;
}
.login a {
    color: #c81523;
}
.reg-form{
    width: 600px;
    background-color: #c81523;
    margin: 0 auto;
    
}